<html>
<head>
    <title>{{title}}</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    {% include "./components/header.njk" %}    

    <h1>{{title}}</h1>
    {{content | safe}}
</body>
</html>